@font-face {
    font-family: "宋体";
}
@font-face {
    font-family: "Cambria Math";
}
@font-face {
    font-family: "Calibri";
}
@font-face {
    font-family: "楷体_GB2312";
}
@font-face {
    font-family: "Tahoma";
}
@font-face {
    font-family: "华文楷体";
}
@font-face {
    font-family: "@楷体_GB2312";
}
@font-face {
    font-family: "@宋体";
}
@font-face {
    font-family: "@华文楷体";
}
p.MsoNormal, li.MsoNormal, div.MsoNormal {
    font-family: "Calibri","sans-serif";
    font-size: 10.5pt;
    margin: 0 0 0.0001pt;
    text-align: justify;
}
p.MsoHeader, li.MsoHeader, div.MsoHeader {
    font-family: "Calibri","sans-serif";
    font-size: 10.5pt;
    margin: 0 0 0.0001pt;
    text-align: justify;
}
p.MsoFooter, li.MsoFooter, div.MsoFooter {
    font-family: "Calibri","sans-serif";
    font-size: 10.5pt;
    margin: 0 0 0.0001pt;
    text-align: justify;
}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
    font-family: "Tahoma","sans-serif";
    font-size: 8pt;
    margin: 0 0 0.0001pt;
    text-align: justify;
}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
    font-family: "Calibri","sans-serif";
    font-size: 10.5pt;
    margin: 0 0 0.0001pt;
    text-align: justify;
    //text-indent: 21pt;
}
span.Char {
    font-family: "Tahoma","sans-serif";
}
span.Char0 {
    font-family: "Calibri","sans-serif";
}
span.Char1 {
    font-family: "Calibri","sans-serif";
}
.MsoChpDefault {
    font-size: 12pt;
}
@page {
}
div.Section1 {
    page: Section1;
}
ol {
    margin-bottom: 0;
}
ul {
    margin-bottom: 0;
}

annotation {
    display: none;
}

.MathJax_Hover_Frame {
    border: 1px solid #a6d !important;
    border-radius: 0.25em;
    box-shadow: 0 0 15px #83a;
    display: inline-block;
    position: absolute;
}
.MathJax_Hover_Arrow {
    cursor: pointer;
    height: 11px;
    position: absolute;
    width: 15px;
}

#MathJax_About {
    background-color: #dddddd;
    border: 3px outset;
    border-radius: 15px;
    box-shadow: 0 10px 20px #808080;
    color: black;
    cursor: default;
    float: none;
    font-family: message-box;
    font-size: 120%;
    font-style: normal;
    left: 50%;
    letter-spacing: normal;
    line-height: normal;
    padding: 1em 2em;
    position: fixed;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    word-spacing: normal;
    word-wrap: normal;
    z-index: 201;
}
.MathJax_Menu {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 10px 20px #808080;
    color: black;
    cursor: default;
    float: none;
    font: ;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    width: auto;
    word-spacing: normal;
    word-wrap: normal;
    z-index: 201;
}
.MathJax_MenuItem {
    background: transparent none repeat scroll 0 0;
    padding: 1px 2em;
}
.MathJax_MenuArrow {
    color: #666666;
    position: absolute;
    right: 0.5em;
}
.MathJax_MenuActive .MathJax_MenuArrow {
    color: white;
}
.MathJax_MenuArrow.RTL {
    left: 0.5em;
    right: auto;
}
.MathJax_MenuCheck {
    left: 0.7em;
    position: absolute;
}
.MathJax_MenuCheck.RTL {
    left: auto;
    right: 0.7em;
}
.MathJax_MenuRadioCheck {
    left: 0.7em;
    position: absolute;
}
.MathJax_MenuRadioCheck.RTL {
    left: auto;
    right: 0.7em;
}
.MathJax_MenuLabel {
    font-style: italic;
    padding: 1px 2em 3px 1.33em;
}
.MathJax_MenuRule {
    border-top: 1px solid #dddddd;
    margin: 4px 3px;
}
.MathJax_MenuDisabled {
    color: graytext;
}
.MathJax_MenuActive {
    background-color: #606872;
    color: white;
}
.MathJax_Menu_Close {
    height: 31px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 31px;
}

.MathJax_Preview .MJXc-math {
    color: inherit !important;
}

#MathJax_Zoom {
    background-color: #f0f0f0;
    border: 1px solid black;
    box-shadow: 5px 5px 15px #aaaaaa;
    display: block;
    float: none;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    overflow: auto;
    padding: 0.5em;
    position: absolute;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    word-spacing: normal;
    word-wrap: normal;
    z-index: 301;
}
#MathJax_ZoomOverlay {
    background-color: white;
    border: 0 none;
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 300;
}
#MathJax_ZoomFrame {
    display: inline-block;
    height: 0;
    position: relative;
    width: 0;
}
#MathJax_ZoomEventTrap {
    background-color: white;
    border: 0 none;
    display: inline-block;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 302;
}

#MathJax_MSIE_Frame {
    border: 0 none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 101;
}
.MathJax_Error {
    color: #cc0000;
    font-style: italic;
}

.MJXc-script {
    font-size: 0.8em;
}
.MJXc-right {
    transform-origin: right center 0;
}
.MJXc-bold {
    font-weight: bold;
}
.MJXc-italic {
    font-style: italic;
}
.MJXc-scr {
    font-family: MathJax_Script,"Times New Roman",Times,STIXGeneral,serif;
}
.MJXc-frak {
    font-family: MathJax_Fraktur,"Times New Roman",Times,STIXGeneral,serif;
}
.MJXc-sf {
    font-family: MathJax_SansSerif,"Times New Roman",Times,STIXGeneral,serif;
}
.MJXc-cal {
    font-family: MathJax_Caligraphic,"Times New Roman",Times,STIXGeneral,serif;
}
.MJXc-mono {
    font-family: MathJax_Typewriter,"Times New Roman",Times,STIXGeneral,serif;
}
.MJXc-largeop {
    font-size: 150%;
}
.MJXc-largeop.MJXc-int {
    vertical-align: -0.2em;
}
.MJXc-math {
    border-collapse: collapse;
    display: inline-block;
    font-family: "Times New Roman",Times,STIXGeneral,serif;
    line-height: 1.2;
    text-indent: 0;
    white-space: nowrap;
}
.MJXc-display {
    display: block;
    margin: 1em 0;
    text-align: center;
}
.MJXc-math span {
    display: inline-block;
}
.MJXc-box {
    display: block !important;
    text-align: center;
}
.MJXc-box::after {
    content: " ";
}
.MJXc-rule {
    display: block !important;
    margin-top: 0.1em;
}
.MJXc-char {
    display: block !important;
}
.MJXc-mo {
    margin: 0 0.15em;
}
.MJXc-mfrac {
    margin: 0 0.125em;
    vertical-align: 0.25em;
}
.MJXc-denom {
    display: inline-table !important;
    width: 100%;
}
.MJXc-denom > * {
    display: table-row !important;
}
.MJXc-surd {
    vertical-align: top;
}
.MJXc-surd > * {
    display: block !important;
}
.MJXc-script-box > * {
    display: table !important;
    height: 50%;
}
.MJXc-script-box > * > * {
    display: table-cell !important;
    vertical-align: top;
}
.MJXc-script-box > *:last-child > * {
    vertical-align: bottom;
}
.MJXc-script-box > * > * > * {
    display: block !important;
}
.MJXc-mphantom {
    visibility: hidden;
}
.MJXc-munderover {
    display: inline-table !important;
}
.MJXc-over {
    display: inline-block !important;
    text-align: center;
}
.MJXc-over > * {
    display: block !important;
}
.MJXc-munderover > * {
    display: table-row !important;
}
.MJXc-mtable {
    margin: 0 0.125em;
    vertical-align: 0.25em;
}
.MJXc-mtable > * {
    display: inline-table !important;
    vertical-align: middle;
}
.MJXc-mtr {
    display: table-row !important;
}
.MJXc-mtd {
    display: table-cell !important;
    padding: 0.5em 0 0 0.5em;
    text-align: center;
}
.MJXc-mtr > .MJXc-mtd:first-child {
    padding-left: 0;
}
.MJXc-mtr:first-child > .MJXc-mtd {
    padding-top: 0;
}
.MJXc-mlabeledtr {
    display: table-row !important;
}
.MJXc-mlabeledtr > .MJXc-mtd:first-child {
    padding-left: 0;
}
.MJXc-mlabeledtr:first-child > .MJXc-mtd {
    padding-top: 0;
}
.MJXc-merror {
    background-color: #ffff88;
    border: 1px solid #cc0000;
    color: #cc0000;
    font-size: 90%;
    font-style: normal;
    padding: 1px 3px;
}
.MJXc-scale0 {
    transform: scaleX(0);
}
.MJXc-scale1 {
    transform: scaleX(0.1);
}
.MJXc-scale2 {
    transform: scaleX(0.2);
}
.MJXc-scale3 {
    transform: scaleX(0.3);
}
.MJXc-scale4 {
    transform: scaleX(0.4);
}
.MJXc-scale5 {
    transform: scaleX(0.5);
}
.MJXc-scale6 {
    transform: scaleX(0.6);
}
.MJXc-scale7 {
    transform: scaleX(0.7);
}
.MJXc-scale8 {
    transform: scaleX(0.8);
}
.MJXc-scale9 {
    transform: scaleX(0.9);
}

div.MathJax_MathML {
    display: block !important;
    margin: 0.75em 0;
    text-align: center;
}
.MathJax_MathML {
    border: 0 none;
    direction: ltr;
    float: none;
    font-size: 100%;
    font-size-adjust: none;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    word-spacing: normal;
    word-wrap: normal;
}
span.MathJax_MathML {
    display: inline !important;
}
.MathJax_mmlExBox {
    border: 0 none;
    display: block !important;
    height: 1px;
    margin: 0;
    max-height: none;
    min-height: 0;
    overflow: hidden;
    padding: 0;
    width: 60ex;
}
[class="MJX-tex-oldstyle"] {
    font-family: MathJax_Caligraphic,MathJax_Caligraphic-WEB;
}
[class="MJX-tex-oldstyle-bold"] {
    font-family: MathJax_Caligraphic,MathJax_Caligraphic-WEB;
    font-weight: bold;
}
[class="MJX-tex-caligraphic"] {
    font-family: MathJax_Caligraphic,MathJax_Caligraphic-WEB;
}
[class="MJX-tex-caligraphic-bold"] {
    font-family: MathJax_Caligraphic,MathJax_Caligraphic-WEB;
    font-weight: bold;
}
@font-face {
    font-family: "MathJax_Caligraphic-WEB";
    src: url("http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Regular.otf");
}
@font-face {
    font-family: "MathJax_Caligraphic-WEB";
    font-weight: bold;
    src: url("http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Bold.otf");
}
[mathvariant="double-struck"] {
    font-family: MathJax_AMS,MathJax_AMS-WEB;
}
[mathvariant="script"] {
    font-family: MathJax_Script,MathJax_Script-WEB;
}
[mathvariant="fraktur"] {
    font-family: MathJax_Fraktur,MathJax_Fraktur-WEB;
}
[mathvariant="bold-script"] {
    font-family: MathJax_Script,MathJax_Caligraphic-WEB;
    font-weight: bold;
}
[mathvariant="bold-fraktur"] {
    font-family: MathJax_Fraktur,MathJax_Fraktur-WEB;
    font-weight: bold;
}
[mathvariant="monospace"] {
    font-family: monospace;
}
[mathvariant="sans-serif"] {
    font-family: sans-serif;
}
[mathvariant="bold-sans-serif"] {
    font-family: sans-serif;
    font-weight: bold;
}
[mathvariant="sans-serif-italic"] {
    font-family: sans-serif;
    font-style: italic;
}
[mathvariant="sans-serif-bold-italic"] {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "MathJax_AMS-WEB";
    src: url("http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_AMS-Regular.otf");
}
@font-face {
    font-family: "MathJax_Script-WEB";
    src: url("http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Script-Regular.otf");
}
@font-face {
    font-family: "MathJax_Fraktur-WEB";
    src: url("http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Regular.otf");
}
@font-face {
    font-family: "MathJax_Fraktur-WEB";
    font-weight: bold;
    src: url("http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Bold.otf");
}